{% extends "base.html" %}
{% block container1 %}
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light">
      <a class="navbar-brand" href="/">STUDENT INFORMATION SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/student">STUDENT</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/course">COURSES<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/college">COLLEGES</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- //NAVIGATION BAR -->
    <!-- CREATE COURSE -->
    <div class="container">
      <form action="" method="post">
        <h2>Create Course</h2>
        <div class="student-details">
          <div class="input-box">
            <label for="coursecode">Course Code:</label>
            <input type="text" id="coursecode" name="coursecode" placeholder="Enter Course Code" required>
          </div>
          <div class="input-box">
            <label for="coursename">Course Name:</label>
            <input type="text" id="coursename" name="coursename" placeholder="Enter Course Name" required>
          </div>
          <div class="input-box">
            <label for="college">College:</label>
            <input type="text" id="college" name="college" placeholder="Enter College" required>
          </div>
          <button type="submit" class="submit-button">SUBMIT</button>
          </div>
      </form>
    </div>
    <!-- //CREATE COURSE -->

    <!-- SEARCH BAR -->
    <div class="input-group col-md-10 mx-auto text-center">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <!-- //SEARCH BAR -->

    <!-- TABLE-->
    <table class="table col-md-10 mx-auto text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">College</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CSC181</td>
            <td>Software Engineering</td>
            <td>Computer Studies</td>
            <td class="action-buttons">
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
            </td>
          </tr>
          <tr>
            <td>CSC151</td>
            <td>Programming Languages</td>
            <td>Computer Studies</td>
            <td class="action-buttons">
              <button type="button" class="btn btn-success"><i class="fas fa-edit"></i> Edit</button>
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--//TABLE-->
{% endblock %}