{% extends "base.html" %}
{% block container1 %}
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light">
        <a class="navbar-brand" href="/">STUDENT INFORMATION SYSTEM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/student">STUDENT<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/course">COURSES</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/college">COLLEGES</a>
            </li>
        </ul>
        </div>
    </nav>

    <!-- CREATE STUDENT -->
    <div class="container">
        <form  method="post">
        <h2>Edit Student</h2>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="student-details">
            <div class="input-box">
            <label for="student_id">ID Number:</label>
            <input type="text" id="student_id" name="student_id" value="{{student_id}}" disabled required>
            <input type="hidden" name="student_id" value="{{student_id}}">
            </div>
            <div class="input-box">
            <label class="details">Course Code</label>
                <select id="course_code" name="course_code" placeholder="Enter Course Code" required>
                <option value="{{course_code}}">{{course_code}}</option>
                {% for course in courses %}
                    {% if course.course_code != course_code %}
                        <option value="{{course.course_code}}">{{course.course_code}}</option>
                    {% endif %}
                {% endfor %}  
                </select>  
            </div>
            <div class="input-box">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" value="{{first_name}}" required>
            </div>
            <div class="input-box">
            <label for="year_level">Year Level</label>
            <input type="text" id="year_level" name="year_level" value="{{year_level}}" required>
            </div>
            <div class="input-box">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" value="{{last_name}}" required>
            </div>
            <label class="gender-title">Gender</label>
            <div class="gender-category">
            <input type="text" id="gender" name="gender" value="{{gender}}" required>
            </div>
            <button type="submit" class="submit-button">UPDATE</button>
        </div>
        </form>
    </div>
{% endblock%}