{% extends "base.html" %}
{% block container1 %}

    <!-- NAVIGATION BAR -->
      <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light">
      <a class="navbar-brand" href="/">STUDENT INFORMATION SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/student">STUDENT<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/college">COLLEGES</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- //NAVIGATION BAR -->

<!-- SEARCH BAR -->
<form method="POST" action="/student/search">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="input-group col-md-10 mx-auto text-center">
    <label class="input-group-prepend">
      <label class="input-group-text">Filter by:</label>
    </label>
    <select name="filter" class="form-control">
      <option value="">All</option>
      <option value="ID">ID Number</option>
      <option value="first_name">First Name</option>
      <option value="last_name">Last Name</option>
      <option value="course_code">Course</option>
      <option value="college_info">College</option>
      <option value="year_level">Year Level</option>
      <option value="gender">Gender</option>
    </select>
    <input type="text" class="form-control rounded" name="studentsearch" placeholder="Search Student">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
    <div style="padding: 10px; margin-top: 10px;"> 
      <a class="btn btn-success" href="/student/add">ADD STUDENT</a>
    </div>
  </div>
</form>

<!-- TABLE CONTAINER -->
<div class="table-container col-md-12 mx-auto text-center">
  <!-- SCROLL BAR -->
  <div class="scrollbar" style="max-height: 430px; overflow: auto;">
    <!-- TABLE -->
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Profile</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">ID Number</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">First Name</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Last Name</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Gender</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Course Code</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">College</th>   
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Year Level</th>
          <th scope="col" style="position: sticky; top: 0; background-color: #f5f5f5; z-index: 1;">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td> <img id="student_photo" src="{{ student.image_url or "https://res.cloudinary.com/dra6xlpn6/image/upload/v1701788899/samples/cloudinary-icon.png" }}" alt="{{ student.id }}"> </td>
          <td>{{student.ID}}</td>
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.gender}}</td>
          <td>{{student.course_code}}</td>
          <td>{{student.college_info}}</td>
          <td>{{student.year_level}}</td>
          <td>
            <form action="/student/edit" method="get">
              <input type="hidden" name="student_id" value="{{ student.ID }}">
              <a href="{{ url_for('student.edit_student', id = student.ID) }}" class="btn btn-success col-md-10" type="submit">Edit</a>
            </form>
            <button type="button" class="btn btn-danger col-md-10" id="deleteStudent" student-id="{{student.ID}}" 
            csrf-token="{{csrf_token()}}" onclick="deleteStudent(this)"><i class="far fa-trash-alt"></i>Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
