{% extends "base.html" %}
{% block container1 %}
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg py-3 navbar-light bg-light">
      <a class="navbar-brand" href="/homepage">STUDENT INFORMATION SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">STUDENT<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/course">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/college">COLLEGES</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- //NAVIGATION BAR -->

    <!-- CREATE STUDENT -->
    <div class="container">
      <form action="" method="post">
        <h2>Create Student</h2>
        <div class="student-details">
          <div class="input-box">
            <label for="id">ID Number:</label>
            <input type="text" id="id" name="id" placeholder="Enter ID Number" required>
          </div>
          <div class="input-box">
            <span class="details">Course</span>
            <input type="text" placeholder="Enter Course" required>
          </div>
          <div class="input-box">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter First Name" required>
          </div>
          <div class="input-box">
            <label for="YearLevel">Year Level:</label>
            <select id="YearLevel" name="YearLevel" required>
              <option value="" disabled selected>Choose Year Level</option>
              <option value="1st Year">1st Year</option>
              <option value="2nd Year">2nd Year</option>
              <option value="3rd Year">3rd Year</option>
              <option value="4th Year">4th Year</option>
            </select>
          </div>
          <div class="input-box">
            <label for="course">Last Name:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter Last Name" required>
          </div>
          <span class="gender-title">Gender</span>
          <div class="gender-category">
            <input type="radio" name="gender" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" id="female">
            <label for="female">Female</label>
          </div>
          <button type="submit" class="submit-button">SUBMIT</button>
        </div>
      </form>
    </div>
    <!-- //CREATE STUDENT -->

    <!-- SEARCH BAR -->
    <div class="input-group col-md-10 mx-auto text-center">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">search</button>
    </div>
    <!-- //SEARCH BAR -->

    <!-- TABLE -->
    <table class="table col-md-10 mx-auto text-center">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID Number</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Year Level</th>
          <th scope="col">Course</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <td>1</td>
          <td>John</td>
          <td>Doe</td>
          <td>Male</td>
          <td>1st Year</td>
          <td>Computer Science</td>
          <td class="action-buttons">
            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>John</td>
          <td>Doe</td>
          <td>Male</td>
          <td>1st Year</td>
          <td>Computer Science</td>
          <td class="action-buttons">
            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!--//TABLE -->
{% endblock %}